.download {
  @include paddings;
  background: $backgroundGradient;
  color: $headerMainColor;
}

.download__heading {
  text-align: center;
}

.download__description {
  margin-left: 35px;
}

.download__title {
  @include titleFont
}

.download__list {
  width: 100%;
}

.download__list-item {
  display: flex;
  margin-top: 80px;
  padding: 28px;
  background-color: white;
}

.download__item-title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-family: 'dosis-semibold';
  color: black;
  margin-bottom: 8px;
}

.download__item-text {
  margin-top: 0;
  margin-bottom: 0;
  @include textFont;
}

.download__icon {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  &--appstore {
    width: 51px;
    height: 57px;
    background-image: url("../img/icon-mac.png");
  }
  &--playstore {
    width: 51px;
    height: 63px;
    background-image: url("../img/icon-android.png");
  }
  &--microsoft {
    width: 59px;
    height: 61px;
    background-image: url("../img/icon-windows.png");
  }
}

@media (max-width: $extraLarge) {
  .download__list-item {
    margin-top: 20px;
  }
}
