$backgroundGradient : linear-gradient(to right, #fd712c, #fc6c31 8%, #fc6736 16%, #fb6339 24%, #fb5e3e 32%, #fa5943 40%, #f94e4d 48%, #f84952 56%, #f74357 64%, #f73d5d 72%, #f63862 80%, #f53168 88%, #f32276);
$headerMainColor: #ffffff;
$mainFontSize: 14px;
$smallTextFontColor: #777777;
$alternateColor: #f7fafc;
$extraLarge: 1199px;
$large: 991px;
$medium: 767px;
$small: 575px;